/* Game board Style */

@media (min-width: 768px) {
  #game-board{
    width: 100%;
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
    /*margin-left: 30px;*/
    margin: 0 auto;
    position: relative;
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  #game-board{
    width: 75%;
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
    /*margin-left: 30px;*/
    margin: 0 auto;
    position: relative;
    font-size: 2.2rem;
  }
}
@media (min-width: 1240px) {
    #game-board{
    width: 50%;
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
    /*margin-left: 30px;*/
    margin: 0 auto;
    position: relative;
    font-size: 2.5rem;
  }
}

#button-board{
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-cell{
  color: blue;
  width: 6%;
  text-align: center;
  float: left;
  border-collapse: collapse;
  border: 1px solid gray;
}
